* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #5f27cd;
    padding: 16px 0;
    color: #fff;
    display: flex;
    border-bottom: 16px solid #341f97 ;
    justify-content: center;
    text-transform: uppercase; /*deixa o texto em maiusculo*/
    font-style: italic;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6d5;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px;
    border-radius: 4px;
    border: none;
}

button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

#botao-cancelar {
    background-color: red;
}

button:hover {
    background-color: #b1f7c8;
}

#botao-cancelar:hover{
    background-color: rgb(185, 89, 89);
}

ul {
    display: flex;
    flex-wrap: wrap;
}

ul li {
    max-width: 25%;
    list-style: none; /*remove o pontinho da lista*/
    position: relative;
    max-height: 270px;
    overflow-y: hidden; /*remove a sobra da imagem que ultrapassa 280 da regra a cima */
}


ul li img {
    width: 100%;
}

.overlay-imagem-link {
    padding: 16px;
    background-color: rgba(0, 0,0,0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 0; /*faz com que quando eu passe o mause sobre ela apareça os links,  vai de 0 a 1 e podemos  */
    transition: all ease .4s; /*controla o tempo de efeito ao passar o mause sobre a mascara na imagem */
}

.overlay-imagem-link a {
    color: #fff;
    text-decoration: none;
}

ul li:hover .overlay-imagem-link {
    opacity: 1;
}